xarray
numpy
matplotlib
pandas
scipy
dask
bottleneck
netCDF4
#Cartopy
#xesmf

#Conflict with xesmf : INFO: pip is looking at multiple versions of xarray to determine which version is compatible with other requirements. This could take a while.
#Collecting xarray
#  Downloading xarray-0.16.1-py3-none-any.whl (720 kB)         
#ERROR: Cannot install -r requirements.txt (line 7) because these package versions have conflicting dependencies.